<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign up</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <a href="#" class="btn btn-primar" onclick="geolocate()"> Ubícame</a>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
     <%= f.submit 'Sign up', :class => 'button right' %>
  <% end %>
</div>

<script type="text/javascript">
  function geolocate()
  {
    $.ajax
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position){

        $.ajax({
          url: "<%= address_users_path %>", 
          type: 'GET',
          dataType: 'script',
          data: {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
          },
        });        
      });
    } else {
      console.log("Geolocation is not supported by this browser.");

    }
  }
</script>
